input {
	text-indent: 3px;
}
.scrollbar {position:relative; overflow:auto; width:544px; height:300px;}
.ql_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
}
.online {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #000000;
	}

.user {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	}
.security {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bolder;
	text-indent: 6px;
	color: #000000;
}
.exciting {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	}
.topnav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.topnav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.topnav2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
a.topnav2:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-decoration: underline;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #EF6B00;
	
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #096599;
	
}
.centernav{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: white;
	text-indent: 6px;
}
.excitinghead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #096599;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
} .acslink {
	text-decoration: underline;
	cursor: pointer;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	margin-bottom: -1em; 
}
.ppphead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	margin-bottom: -1em; 
}
.ppptable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	margin-bottom: -1em; 
}
.ppptm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #EF6B00;
	
}
.formtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	}
.sectionhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #000000;
	}	
.sectionhead1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-align: top;
	color: #000000;
	}	
.subnavtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
    font-weight: bold;
    text-align: center;
	color: #000000;
    text-decoration: none;
	}
a.subnavtext:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}
.formtextred {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #EF6B00;
	font-weight: bold;
} .acslink {
	text-decoration: underline;
	cursor: pointer;
}

.formtextred2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: red;
	font-weight: bold;
}

.form {
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width: 70px;
	padding:0;
	vertical-align: middle;
	white-space: 0;
	text-indent: 3px;
		}
.form2 {
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding:0;
	
		}

.emailAddress {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width: 220px;
	size: 220;
	maxlength: 50;
	padding:0;
	vertical-align: middle;
	white-space: 0;
	text-indent: 3px;
		}

.passPhrase {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width: 150px;
	size: 150;
	padding:0;
	vertical-align: middle;
	white-space: 0;
	text-indent: 3px;
		}
		
.welcome {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-align:center;
}
.warning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	color: #000000;
}
.excitingblue {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #096599;
	font-weight: 900;
}
.hclass {

    font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #096599;
	margin-bottom: -1em;
}
.excitingbluebig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #096599;
	font-weight: 900;
}
.footer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-indent: 6px;
	text-decoration: none;
}
.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #096599;
	font-weight: normal;
}
.notebold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	margin-right: 6px;
	list-style-position: outside;
	list-style-image: url(../images/bullet.gif);
	margin-bottom: 1em; }
ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #096599;
	margin-right: 6px;
	list-style-position: outside;
	margin-bottom: 1em; 
} 
li {
	margin-bottom: 1em; 
}   .logoff {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #EF6B00;
	font-weight: bold;
} .acslink {
	text-decoration: underline;
	cursor: pointer;
}

.small_list {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	margin:0;
	}
.posthidden {
	display:none
} 
.postshown {
	display: inline;
	text-align: left;
}

.TEXTAREA {
border: black 2px solid;
font-family: arial, verdana, ms sans serif;
font-size: 9pt;
font-weight: normal
} 
.red {
	color: #EF6B00;
} .acslink {
	text-decoration: underline;
	cursor: pointer;
}
.drop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #096599;
	font-weight: normal
}
.data {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	color: #000000;
	margin-left: 3px;
	}
.steps {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	color: #999999;
}
.stepsdark {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	color: #EF6B00;
}
.NewTitle24px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #EF6B00;
	white-space: nowrap;
	text-align: left;
	text-decoration: underline;
}
.style1 {
	color: #0000FF;
	font-weight: bold;
	font-size: 12px;
}
.data_no_indent {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	color: #000000;
}
.border {
	color: #EF6B00;
	border-color: #EF6B00;
	margin-right: 8px;
	margin-bottom: 8px;
} .acslink {
	cursor: pointer;
}
.imgcategory {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10 pt;
	font-weight: bold;
	color: #EF6B00;
	text-indent: 6px;
	text-decoration: none;
}
a.imgcategory:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #EF6B00;
	text-indent: 6px;
	text-decoration: underline;
	}
.smText {
	font-family: Arial, Helvetica, sans-serif;
	display: inline;
	font-weight: bold;
	font-size: .55em;
	vertical-align: super;
}
.blueGradient { 
	background: white url(../images/GradientCell.gif);
    background-repeat: repeat-x 
}
.BlackPagetxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	line-height: 12pt;
	margin-bottom: -1em;
}
.sitehyperlink 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
}
.warning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	color: #000000;
	font-style: italic;
}
.pppsubhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #EF6B00;
	
}
.pppsmalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-decoration: underline;
	}
.BlackTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #333333;
}
.BlackPagetxtBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	font-weight: bold;
	color: #000000;
}
.RedAstric {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #FF0000;
}
.RequiredFieldsBld {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #000000;
	font-style: normal;
	text-decoration: none;
	padding-right: 5px;
}
.BlackTitlePPP {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #333333;
	line-height: 18pt 
}
.acslink {
	text-decoration: underline;
	cursor: pointer;
}
/*  Begin FAQ
----------------------------------------------------------*/
#primary .faq-question dd 
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

#primary .faq-question  p.textJustified 
{
	background: #f5f5f5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding: 15px 20px 20px 36px;
	text-align: left;
}

#primary .faq-question a 
{
	font-weight: bold;
	color: #09325a;
	text-decoration: none
}

#primary .faq-question a:hover 
{
	text-decoration: underline 
}

#primary .faq-question .excitingbluefaq 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #096599;
	font-weight: 500;
	margin-left: 1px;
	padding-bottom: 2px;
	line-height: 1.1em
}

#primary .faq-question .red 
{
	color: #EF6B00;
	text-decoration: underline;
}

#primary .faq-question .posthidden 
{
	display:none
}
#primary .faq-question .postshown 
{
	display: inline;
	text-align: left;
}